<script src="/cdn/bootstrap/js/bootstrap.min.js"></script>
<script src="/cdn/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--     
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/popper.js"></script>
<script src="/javascripts/js/bootstrap.min.js"></script>
<script src="/javascripts/js/main.js"></script> -->
</body>

</html>