<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="cdn/bootstrap/css/bootstrap.min.css">

</head>
<body>
    <div class="container-fluid">
        <div class="col-12">
          <div class="row">
            <%- include('../general/header.ejs') %>

          </div>
          
            
        </div>  
    </div>

    <%- include('../general/footer.ejs') %>
    <script src="cdn/bootstrap/js/bootstrap.min.js"></script>
    <script src="cdn/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>